// Colors

$borderColor: #ecebe9;
$lightWhite: #f9f9f9;
$mediumBlack: #303030;
$lightGrey: #cfb995;
$grey: #f9f9f9;
$white: #ffffff;
$darkGrey: #b2b2b2;
$lightRed: #ff5b5b;
$weirdGreen: #57e690;
$pastelOrange: #ff915b;
$paste: #57dbe6;
$pastelOrange: #d0ba93;
$paleOrange: #ffbe5b;
$lightGold: #ffdf5b;
$paleOrange: #ffbe5b;
$lightBlack: #5e5e5e;
