@import "./colors.scss";

// Container width
$containerWidthDesktop: 1140px;

// Font
$headerFontSize: 15px;
$heroTitle: 48px;
$heroContent: 22px;
$mediumFontSize: 14px;
$cardTitle: 20px;
$cardContent: 16px;

// Spacing
$sectionGap: 50px;
